<div class="cards-list">
  
<div class="card 2">
    <div class="card_image">
      <img src="../../../assets/images/default-card.jpg" />
    </div>
    <div class="card_title title-white">
      <p>Toplam Kategori({{totalCategory}})</p>
    </div>
  </div>
  <div class="card 2">
    <div class="card_image">
      <img src="../../../assets/images/default-card.jpg" />
    </div>
    <div class="card_title title-white">
      <p>Toplam Soru({{totalQuestion}})</p>
    </div>
  </div>
  <div class="card 2">
    <div class="card_image">
      <img src="../../../assets/images/default-card.jpg" />
    </div>
    <div class="card_title title-white">
      <p>Aktif Kullanıcı({{activeUser}})</p>
    </div>
  </div>
  <div class="card 2">
    <div class="card_image">
      <img src="../../../assets/images/default-card.jpg" />
    </div>
    <div class="card_title title-white">
      <p>Engellenen Kullanıcı({{disabledUser}})</p>
    </div>
  </div>
</div>